.filters{
	background-color: #FFFFFF;
	height: 70px;
	width: 100%;
	border: solid 1px #DDDDDD;
	border-radius: 4px;
	display: flex;
	align-items: center;
}

.filters button{
	font-size: 18px;
	background-color: #FF5A5F;
	color: #FFFFFF;
	height: 48px;
	width: 20%;
	border: none;
	border-radius: 4px;
	margin-right: 30px;
	margin-left: auto;
	opacity: 1;
}

.filters button:hover{
	opacity: 90%;
}
.filters > div:first-child{
	border-right: solid 1px #DDDDDD;
}

.filters .locations,
.filters .amenities{
	height: 100%;
	width: 25%;
}


.filters .locations h3,
.filters .amenities h3{
	font-weight: 600;
	margin: 10px;
}

.filters .locations h4,
.filters .amenities h4{
	font-weight: 400;
	font-size: 14px;
	margin: 10px;
}

.popover{
	display: none;
	background-color: #fafafa;
	border: solid 1px #dddddd;
	border-radius: 4px;
	margin: auto;
}

ul{
	list-style-type: none;
}

.locations:hover .popover,
.amenities:hover .popover{
	display: block;
}
h2{
	font-size: 16px;
}
